$primary-color: #e2e2e2;
$secondary-color: #E09D36;
$tertiary-color: #888888; // A darker shade of gray
$bg-color: #1F2933;
$secondary-bg-color: #1c1c1c;
$bland-blue: #4a545e;

.divider {
    width: 100%;
    height: 1px;
    background-color: darken($primary-color, 20%);
    margin: 20px 0;
}

$space-values: (30, 20, 10, 15, 5);
@each $space in $space-values {
    .space-#{$space}-0 {
        margin: #{$space}px 0;
    }
}

.reset-button {
    appearance: none;
    /* Remove default styles (e.g., on macOS) */
    background: none;
    /* Remove background color */
    border: none;
    /* Remove border */
    color: inherit;
    /* Inherit text color from parent */
    font: inherit;
    /* Inherit font from parent */
    cursor: pointer;
    /* Show pointer cursor on hover */
    padding: 0;
    /* Remove padding */
    margin: 0;
    /* Remove margin */
    text-align: left;
    /* Set text alignment as needed */
    text-decoration: none;
    /* Remove underlines, etc. */
}